

<h1>Beschreibung des ASCII-Vektor-Karten-Formates von GPS-Earth</h1>

<h2> File Format:</h2>
In den Files mit der Endung .LST sind komplette Vektor-Karten fuer die
Darstellung auf GPS-Geraeten enthalten. 
<p>
Die Einzelnen Karten-Elemente bestehen aus jeweils genau einer Zeile.
Kommentarzeilen werden mit einem "#" als Erstes Zeichen in einer Zeile
gekennzeichnet. Die Zeilenlaenge ist nicht beschraenkt. 
<p>
Die Reihenfolge der Karten-Elemente im File bestimmt die Reihenfolge, wie diese
gezeichnet werden sollen. Hierbei muss darauf geachtet werden, dass groessere
Elemente nicht kleiner ueberdecken. 
<p>
Der Aufbau einer Zeile ist wie folgt:
<p>
<pre>
Variable1=Inhalt1 Variable2=Inhalt2 [...] 
</pre>
<p>
Mehrere Variablen werden durch ein oder mehrere Blanks getrennt (Keine Tabs !).
Zeichenketten muessen in Anfuehrungszeichen stehen (ASCII 34). Numerische
Ausdruecke koennen ganze Zahlen oder Reelle Zahlen sein, oder auch Zahlen im
HEX-Format mit einem 0x vorangestellt. Kommas und
Semikolon koennen innerhalb von Variableninhalten zum Abtrennen verwendet
werden. 
<p>
Die Reihenfolge der Variablen innerhalb einer Zeile ist nicht von Bedeutung. 
<p>
Jedes Programm wertet nur die Variablen aus, mit denen es was anfangen kann. 
<p>


<h2>Variablen:</h2>
<h3>Name</h3>
Beispiel:
<pre>
Name="Beethovenstr."
</pre>

Name bzw. Kommentar zum Karten-Element. Hier kann z.B. der STrassenname stehen,
wenn es sich um eine Strasse handelt, oder der Name der Insel oder eines Sees.
Die Zeichenkette darf beliebig lang sein. 

<h3>Typ</h3>
Beispiel:
<pre>
Typ=0x13
</pre>

Typ des Kartenelements. Bisher sind folgende Typen definiert:
<pre>
0 -- Leerer Typ. Das Element wird nicht gezeichnet. 
1 -- Fussweg, Radweg
2 -- Wirtschaftsweg/Feldweg
3 -- Befestigter Fahrweg
4 -- Nebenstrasse (mind. 4 m breit)
5 -- Hauptstrasse (mind. 6 m breit)
6 -- Autostrasse (mind. 4 Fahrstreifen)
7 -- Autobahn
8 -- Eisenbahn/Gleis
9 -- mehrgleisige Eisenbahnstrecke

10 -- Sperrgebiet/Truppenuebungsplatz
11 -- Naturschutzgebiet
12 -- Landkreisgrenze
13 -- Gemeindegrenze
14 -- Regierungsbezirksgrenze/Bezirksgrenze
15 -- Landesgrenze/Bundeslaender
16 -- Laender-Grenze/Staatsgrenze

17 -- Hoehenlinie (10m)
18 -- Hoehenlinie (5m)
19 -- Hoehenlinie (1m)

20 -- Seilbahn
21 -- Leitung
22 -- Zaun
32 -- Fluss
33 -- Bach


100 -- Land-Flaeche
101 -- Wasserflaeche
102 -- Watt-Flaeche
103 -- Bebaute Flaeche
104 -- Mischwald
105 -- Laubwald
106 -- Nadelwald
107 -- Wiese
108 -- Garten/Park
109 -- Acker
110 -- Asphaltierte Flaeche
111 -- Moor/Sumpf
112 -- Schilfzone
113 -- Sand/Kies/Geroell

</pre>
<h3>Flags</h3>
Beispiel:
<pre>
Flags=0x13
</pre>

Verschiedene Flags, die den Typ des Kartenelements ergaenzen. 
Es handelt sich um eine Bitmaske:
Bisher sind Bits definiert:
<pre>
Bit 0 -- Polygonzug ist offen (0) oder geschlossen (1) 
Bit 1 -- Mit der Linie ist eine Richtung verbunden (1) oder nicht(0)
Bit 2 -- Der Name des kartenelements soll angezeigt werden (1)
Bit 3 -- Das Kartenelement ist in Planung, unvollstaendig oder ungenau (1)
</pre>


<h3>Alt</h3>
Beispiel:
<pre>
Alt=560
</pre>

Die Hoehe des Kartenelements ueber N.N.


<h3>Data</h3>
Beispiel:
<pre>
Data[3]=7.456,50.123;8,50;8,51;
</pre>

Die Punkte des Polygon/Polyline Zugs. Die Kordinaten (Werte-Paare) werden mit
Semikolon getrennt. Hinter dem Letzten Paar darf, muss aber nicht, ein letztes
Semikolon stehen. 
Die Anzahl kann in eckigen Klammern hinter der data-Anweisung stehen. Muss aber
nicht. Dann werden alle Punkte aus der Liste genommen.

Die Koordinaten sind Laenge,Breite in WGS84, also in ganzen Grad. Wegen der
Mehrdeutigkeit wird empfohlen die Daten zwischen -180 bis 180 fuer die Laenge
und -90 bis 90 fuer die Breite zu halten. 0 bis 360 (Laenge) sollte aber
moeglich sein, wenn eine Karte erstellt wird, durch die sonst der Bruch bei +180
Grad verlaufen wuerde.

<h2>Optionale Variablen </h2>

Neben den oben aufgefuehrten Typen koennen noch weitere Variablen verwendet
werden. Deren Bedeutung ist aber nicht jedem klar. Sie werden deshalb ggf
ignoriert. 
<h2>Beispiel</h2>

Diese Datei enthaelt eine Karte von Norddeutschland mit einigen Strassen.
Es ist nur ein Beispiel. Die Daten stammen von WDB-II und GSHSS, sowie von 
eigenen Trackaufzeichnungen. 
<p>
<a href="map.lst">map.lst</a> (800 kBytes)

<h2>Erweiterung des Datenbestandes</h2>
Ihr Beitrag ist willkommen !
<p>
Unterstuetzen Sie das Projekt durch Ihren Beitrag. Gesucht sind zunaechst 
einmal Daten aus Deutschland. Hierzu gehen Sie wie folgt vor:
<ol>
<li> wandern Sie eine Strasse ihrer Umgebung mit dem GPS ab. Achten Sie darauf, dass 
das Geraet schon eine Weile eingeschaltet ist, und somit genaue Werte anzeigt.
Am Besten, Sie gehen genau eine Strasse von Anfang bis Ende ab. Handelt es sich 
um eine Einbahnstrasse, moeglichst in der vorgegebenen Richtung. Moechten Sie 
eine Wald- oder Wiesenflaeche beitragen, umrunden Sie sie einmal. 
<li> Als naechstes laden Sie den Track (z.B. mit GPS-Earth) auf einen Computer. 
Hier koennen die Daten noch nachbearbeitet werden (in GPS-Earth, Track exportieren, 
mit Texteditor evtl. ueberfluessige Stuecke entfernen, und wieder in GPS-Earth importieren).
<li> Dann Track zu Karten-Element konvertieren. Und dann per Edit-Map-Element
einen Namen vergeben (z.B. den Strassennamen) und ggf. Typ und Flags anpassen.   
<li> Schliesslich die so erzeugten Map-Elemente exportieren. Sie erhalten somit 
ein ASCII-File. Dieses koennen sie dann dem Projekt GPS-Earth zukommen lassen. 
(Am besten per email an kollo at users.sourceforge.net.)
</ol>


Nur Daten, die frei veroeffentlicht werden duerfen, koennen aufgenommen 
werden. Dies sind in der Regel alle Daten von GSHSS, WDB-II und vor allem 
Ihre Trackaufzeichnungen per GPS. Das Abmalen von Kartenmaterial ist u.U. 
nicht erlaubt.


